! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.padding: 350
rofi.opacity:97
! Use extended color scheme
rofi.color-enabled:                  true
! Color scheme for normal row
rofi.color-normal:                   #ffffff,#525d76,#f5f5f5,#5294e2,#ffffff
! Color scheme for urgent row
rofi.color-urgent:                   #ffffff,#dc322f,#f5f5f5,#5294e2,#dc322f
! Color scheme for active row
rofi.color-active:                   #ffffff,#c2cad0,#f5f5f5,#5294e2,#c2cad0
! Color scheme window
rofi.color-window:                   #ffffff,#f5f5f5
! Separator style (none, dash, solid)
rofi.separator-style:                solid

! make otf / ttf fonts look pretty.  does not matter if you are using a bitmap font.
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

*faceName: Terminus
*faceSize: 10
*font: xft:Terminus:pixelsize=10
*.letterSpace: -2

*.background: [70]#0e0e0e
*.foreground: #ffffff
*.cursorColor: #e0dccf

! black
*.color0: #1b1f20
*.color8: #c08b61
! red
*.color1: #c1c2c2
*.color9: #c2c6c8
! green
*.color2: #b4a995
*.color10: #d8d5d1
! yellow
*.color3: #cecbca
*.color11: #aac6c8
! blue
*.color4: #a09484
*.color12: #b5c6c8
! magenta
*.color5: #a07c68
*.color13: #f0b67b
! cyan
*.color6: #a6aeb0
*.color14: #afc5c8
! white
*.color7: #e0dccf
*.color15: #c8876e
! underline when default
*.colorUL: #e0dccf
