! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.padding: 350
rofi.opacity:97
! Use extended color scheme
rofi.color-enabled:                  true
! Color scheme for normal row
rofi.color-normal:                   #ffffff,#525d76,#f5f5f5,#5294e2,#ffffff
! Color scheme for urgent row
rofi.color-urgent:                   #ffffff,#dc322f,#f5f5f5,#5294e2,#dc322f
! Color scheme for active row
rofi.color-active:                   #ffffff,#c2cad0,#f5f5f5,#5294e2,#c2cad0
! Color scheme window
rofi.color-window:                   #ffffff,#f5f5f5
! Separator style (none, dash, solid)
rofi.separator-style:                solid

! make otf / ttf fonts look pretty.  does not matter if you are using a bitmap font.
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! special
*.foreground:   #b3bdcb
*.background:   #404552
*.cursorColor:  #b3bdcb

! black
*.color0:       #404552
*.color8:       #2a303b

! red
*.color1:       #cc575d
*.color9:       #a3464a

! green
*.color2:       #2679db
*.color10:      #75a9e8

! yellow
*.color3:       #b3bdcb
*.color11:      #cad1db

! blue
*.color4:       #5294e2
*.color12:      #97bfee

! magenta
*.color5:       #404552
*.color13:      #686d79

! cyan
*.color6:       #b3bdcb
*.color14:      #383c4a

! white
*.color7:       #e1e5ea
*.color15:      #ffffff
